body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

img {
	display: block;
}



.nav {
	width:100%;
	background-color: black;
	position: fixed;
	bottom:0px;
	left:0px;
	padding:5px;
	z-index:9;
}


.nav-sub {
	width:600px;
	margin:auto;
	background-color:pink;
	display:flex;
	justify-content: space-around;
}




.nav-header {
	display: inline-block;
	color:gray;
}

.nav-item {
	width:300px;
	height:300px;
	background-color: lightpink;
	border-radius: 50%;
	line-height: 300px;
	text-align: center;
}

.btn-uncanny {
	position: fixed;
	top:50px;
	left:300px;
	box-shadow: 0px 0px 100px lightpink;
}

.btn-vege{
	position: fixed;
	bottom:40px;
	right:100px;
	box-shadow: 0px 0px 100px lightpink;
}


.nav-item:hover {
	color:red;
}

.title {
	width: 100%;
}

.title img {
	width:100%;	
}

.research {
	display:flex;
	flex-wrap:wrap;
}

.research-item {
	flex: 0 0 50%;
	padding:10px;
	font-size:16px;
	color:gray;
	transition: 2s;
	cursor: zoom-in;
}

.width-100 {
	flex:0 0 100%;
}

.width-33 {
	flex:0 0 33.33%;
}

.research-item img {
	width:100%;
}

.research-item:hover img.static {
	display: none;
}

.research-item:hover img.rollover {
	display: block;
}

img.rollover {
	display: none;
}

/*interactive classes*/

.hide {
	display: none;
}