body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

.nav {
	width: 100%;
	background-color: lightgray;
	padding: 10px;
	position: fixed;
	top:0px;
	left:0px;
	box-shadow: 2px 2px 2px gray;
}

.nav-item {
	display: inline-block;
	border: 1px solid #000;
	padding: 5px;
	border-radius: 5px;
}

.title {
	margin-top: 50px;
	font-size:10.5vw;
	font-family: arial black;
	color:lightgray;
}

.research {
	display:flex;
	flex-wrap:wrap;
	padding: 20px;
}

.research-item {
	flex:0 0 33.33%;
	padding: 20px;
}

.research-item img {
	width:100%;
}