body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
}

a {
	color:red;
}


/* index homepage */

.index-intro {
	color:white;
	font-size:16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 25vh;
}

.index-row {
	display: flex;
	flex-wrap:wrap;
	border-top: 3px solid white;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	color:gray;
}

.index-name {
	flex:0 0 50%;
}

.index-name a {
	flex:0 0 25%;
	text-decoration: none;
	color:white;
}

.index-layer {
	flex:0 0 25%;
}


/* blue green */

.fullscreen-blue {
	width: 100vw;
	height: 100vh;
	background-color: blue;
}

.fullscreen-green {
	width: 100vw;
	height: 100vh;
	background-color: lime;
}

/* checkers */

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-black {
	width: 50vw;
	height: 50vh;
	background-color: black;
}

/* ip address */

.address {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: yellow;
}

.address .text {
	font-size:12vw;
}

/* world text */

.world {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.world .text {
	font-size:26vw;
	color:blue;
}

/* iPhone */

.iphone {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.iphone .header {
	color:white;
}

.iphone .text {
	font-size:11vw;
	color:gray;
}

/* User */

.user {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: lightgray;	
}


.avatar {
	width: 25vw;
	height: 25vw;
	border-radius: 50%;
	color: #fff;
	background-color: #aa47bc;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.letter {
	font-size:15vw;
	line-height: 17vw;
	height: 15vw;
}

/*Cloud dots*/

.cloud-container {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	height:100vh;
	width:100vw;
}

.cloud-dots {
	flex:0 0 20%;
	background-image: linear-gradient(blue, white);
	height: 25vh;
	border-radius: 50%;
}

/* Chip */

.chip-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.chip {
	width:60vh;
	height:60vh;
	padding: 5vh;
	background-color: black;
	border:1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	color:gray;
	font-size:20vh;
	font-weight: normal;
	text-align: center;
}

