body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* IP */




.ip {
	width:100vw;
	height:100vh;
	background-color:blue;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap:wrap;
}

.ip-text {
	font-size:17vw;
	color:white;
	font-family:times;
}

/* Checkers */

.checkers {
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:wrap;
}

.checkers-black {
	flex:0 0 50%;
	height:50vh;
	background-image:radial-gradient(lime, black);
}

.checkers-white {
	flex:0 0 50%;
	height:50vh;
	background-image:radial-gradient(lime, black);
}

/* Checkers Type*/

.checkers-type {
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
}

.checkers-text {
	font-size:20vw;
	color:lime;
	padding: 5vw;
}

/* User */

.user {
	width:100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

.avatar {
	width:25vw;
	height:25vw;
	background-color:purple;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.letter {
	color:white;
	font-size:15vw;
}


/*terra tv*/

.terra-tv {
	background-color: black;
	height: 100vh;
}

.terra-tv img {
	width:100%;
	height: 100%;
}

