body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.fullscreen-blue {
	width: 100vw;
	height: 100vh;
	background-color: blue;
}

.fullscreen-green {
	width: 100vw;
	height: 100vh;
	background-color: lime;
}

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-black {
	width: 50vw;
	height: 50vh;
	background-color: black;
}
