body {
	font-family: arial;
	font-size: 3vw;
	background-color: lightgray;
}

a {
	
}

 @media only screen and (max-width: 700px) {
	.notice {
		position: fixed;
		top:0px;
		left:0px;
		width:100vw;
		height:100vh;
		font-size: 50px;
		z-index: 99;
		background-color: lightgray;
		display: block;
	}

	.notice span {
		padding: 20px;
		display: block;
	}
}

.notice {
	display: none;
}

.intro {
	padding: 10px;
	font-size: 24px;
	margin-top: 150px;
}

.title {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 9vw;
	padding-top: 10px;
	text-align: center;
	position: fixed;
	top: 10px;
	background-color: yellow;
}

.websites {
	padding: 10px;
	margin-top: 33vh;
	
}

.websites a {
	display: block;
	margin-top: 10px;
	width:100%;
	border-top: 4px solid;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 10px;
}

.websites a:hover {
	color:black !important;
}