body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}



/*IP Adress*/

.ip {
	width:100%;
	height:100vh;
	background-color:cyan;
	display:flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	font-size:15vw;
	transform:rotate(-180deg);
}








/*usernames*/

.username {
	display: flex;
	font-size: 20vw;

}

.username-left {
	width:50%;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.username-right {
	width:50%;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



















/* Checkers */

.checkers {
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:wrap;
}

.checkers-black {
	flex:0 0 50%;
	height:50vh;
	background-color: black;
}

.checkers-white {
	flex:0 0 50%;
	height:50vh;
	background-color: white;
}

.checkers-white2 {
	flex:0 0 50%;
	height:50vh;
	background-color: white;
}

/* Checkers Type*/

.checkers-type {
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
}

.checkers-text {
	font-size:20vw;
	color:lime;
	padding: 5vw;
}

/* User */

.user {
	width:100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

.avatar {
	width:25vw;
	height:25vw;
	background-color:purple;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.letter {
	color:white;
	font-size:15vw;
}


/*terra tv*/

.terra-tv {
	background-color: black;
	height: 100vh;
}

.terra-tv img {
	width:100%;
	height: 100%;
}

/*map*/

.map {
	display: flex;
	flex-wrap: wrap;
}

.map-left {
	width:50%;
	height: 100vh;
	background-color: yellow;
}

.map-left img{
	
	width:100%;
	height: 100%;
	object-fit: cover;
}

.map-right {
	width:50%;
	height: 100vh;
	background-color: lime;
	font-size: 10vw;
	overflow: hidden;
}

.map2 {
	width: 100%;
}

.map2 img{
	width:100%;
	height: 100%;
	object-fit: fill;
}

/*gafa*/

.gafa {
    font-size: 37vh;
    width: 100vh;
    background-color: red;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    bottom: 0px;
    left: 37vh;
}

.gafa-grid {
	background-color: red;
	width: 100%;
	margin-left: 18.5vh;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.gafa-line {
	width:50%;
	height: 50vh;
	border:1px solid #000;
}

/*captcha*/

.captcha {
	width:100%;
	height:100vh;
	background-color: #000;
}

.captcha img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: #000;
}

.robot {
	position: absolute;
	top:0px;
	left:0px;
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.robot-text {
	
	border-radius: 100px;
	font-size: 8vw;
	color:gray;
	box-shadow: 0px 0px 20px gray;
	padding: 28px;
	text-align: center;
}

/*hemisphere*/

.hemisphere {
	display: flex;
	flex-wrap: wrap;
}

.hemisphere-circle {
	width: 50%;
	height: 100vh;
	background-color: gray;
}

.hemisphere-circle img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	animation: rotate 2s linear infinite ;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*blocks rgb*/

.all-blocks {
	display: flex;
	background: green;
}

.blocks div {
	border-radius: 200px;
}

.blocks-rgb {
	display: flex;
	flex-wrap:wrap;
	width:75%;
	height:100vh;
}

.blocks-red {
	background-color: red;
	height: 50%;
	width:50%;
}

.blocks-blue {
	background-color: blue;
	height: 50%;
	width:50%;
}

.blocks-green {
	background-color: lime;
	height: 50%;
	width:50%;
}

.blocks-black {
	background-color: black;
	height: 50%;
	width:50%;
}

.blocks-grays {
	width:25%;
}

.blocks-gray1 {
	height:25%;
	background-color: #000;
}
.blocks-gray2 {
	height:25%;
	background-color: #333;
}
.blocks-gray3 {
	height:25%;
	background-color: #999;
}
.blocks-gray4 {
	height:25%;
	background-color: #eee;
}

/*sky earth*/

.sky-earth {
	width: 100%;
	height: 100vh;
	background-color: black;
	color:white;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.sky-text {
	font-size:18vw;
	text-align: center;
	width: 100%;
	color:blue;
}

.earth-text {
	font-size:18vw;
	text-align: center;
	width: 100%;
	transform: rotate(180deg);
	color:lime;
}

/*heat*/

.box-sw {
  height:100vh;
  width:100%;
  background-color:green;
  display:flex;
}

.sand {
  flex:1 1;
  height:100vh;
  background-color:yellow;
}

.sand img {
  width:100%;
  height:100%;
  object-fit:fill;
}

.water {
  flex: 0 0 25%;
  height:100vh;
  background-color:lime;
  animation-name:water;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes water {
  0% {
    flex:0 0 0%;
  }
  
  100% {
    flex:0 0 100%;    
  }
}

.grid-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-color:black;
	transform: scale(1.05);
}

.grid-block {
	border:3px solid white;
	width: 25%;
	height: 25vh;
}

.grid-container2 {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-color:black;
	transform: scale(1.05);
}

.grid-block2 {
	border-radius: 50%;
	background-color: black;
	box-shadow: 0px 0px 70px lime;
	width: 25%;
	height: 25vh;
}

